# Liferay Connection Settings
LIFERAY_BASE_URL=https://xxx.xxx.com/
LIFERAY_SITE_ID=20111

# OAuth2 Credentials (Headless API)
LIFERAY_OAUTH_CLIENT_ID=Sample
LIFERAY_OAUTH_CLIENT_SECRET=secret-xxxx-xxxx-xxxx-xxxx-xxxx

# Fragment & Page Settings
LIFERAY_FRAGMENT_COLLECTION_ERC=CP_COLLECTION
LIFERAY_PAGE_ERC=CP_DASHBOARD_PAGE

# ServiceNow Connection Settings
SERVICENOW_INSTANCE=dev308447
SERVICENOW_USERNAME=admin
SERVICENOW_PASSWORD=iHpA1-ArZ6r=

# Manual API Settings
MANUAL_API_ENDPOINT=https://randomapi.com/api/hszdw6mc?key=LESD-D3KS-40OF-62DB

# OpenAI API Settings
OPENAI_API_KEY=sk-proj-xxx-xxxx-xxxx

